//Site Colors
$site-red: #EE4367;
$site-blue: #3BCEAB;
$site-green: #08AD69;
$site-yellow: #FFD140;
$site-purple: #540D6E;

//Site Fonts


//Site width/height 
$site-width: 1280px;
$min-site-height: 500px;

